/* Navbar Custom Styles */
.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px); /* Efek blur pada latar belakang navbar */
  transition: background-color 0.3s ease; /* Smooth transition untuk perubahan warna */
}

/* Gaya untuk hover link */
.navbar-nav .nav-link:hover {
  color: #ffd700 !important; /* Warna hover kuning */
  transition: color 0.3s ease;
}

/* Tampilan untuk form pencarian */
.navbar-nav .nav-item form .form-control {
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav .nav-item form button {
  border-radius: 50px;
  background-color: #ffd700;
  color: #fff;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item form button:hover {
  background-color: #ffc107;
}
